<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.perfume.exam.service.dao.AdminDAO">

	<select id="getNoticeList" resultType="boardVO">
		<![CDATA[
			SELECT * FROM board WHERE category = 'notice' ORDER BY id DESC
		]]>
	</select>
 
	<select id="getFAQList" resultType="boardVO">
		<![CDATA[
			SELECT * FROM board WHERE category = 'faq' ORDER BY id DESC
		]]>
	</select>
	
	<select id="getEventList" resultType="eventVO">
		<![CDATA[
			SELECT * FROM event ORDER BY id DESC 
		]]>
	</select>
	
	<select id="getBenefit" resultType="string">
		<![CDATA[
 			SELECT image FROM event WHERE id = 9999
		]]>		
	</select>
	
	<select id="getWinnerList" resultType="boardVO">
		<![CDATA[
			SELECT * FROM board WHERE category = 'event' ORDER BY id DESC
		]]>
	</select>
	
	<insert id="boardInsert" parameterType="boardVO">
		<![CDATA[
			INSERT INTO board VALUES (board_seq.nextval, 0, #{title}, #{content}, sysdate, #{category})
		]]>
	</insert>
	
	<update id="boardUpdate" parameterType="boardVO">
		<![CDATA[
			UPDATE board SET title = #{title}, content = #{content} WHERE id = ${id}
		]]>
	</update>
	
	<delete id="boardDelete" parameterType="boardVO">
		<![CDATA[
			DELETE FROM board WHERE id = ${id}
		]]>
	</delete>
	
</mapper> 