<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.perfume.exam.service.dao.ReviewDAO">
		
	<insert id="enrollReview">
	
		<![CDATA[
			insert into REVIEW(reviewId, productId, writerId, 
			regDate, content) values(#{reviewId}, #{productId}, #{writerId}, 
			#{regDate}, #{content})
		]]>
	
	</insert>	
		
</mapper>  
  